*.o
*.so
*.s
.DS_Store
.vscode
cachegrind.out.*
config.mk
debuggen
debugrun
flamegraph.html
gen
h48.err
h48.out
HPC*.sh
perf.data
perf.data.old
run
run.core
run.DSYM
scrambles
shell/lasttest.err
shell/lasttest.out
tables/*
tables-old/*
test/.DS_Store
test/last.*
test/run
test/run.DSYM
test/*/runtest
tools/.DS_Store
tools/401_benchmark_performance/*.txt
tools/402_benchmark_nodes/*.txt
tools/results
utils/.DS_Store
